 
<div class="container">
  <header>
    <div>
        <span class="header-span-1">Book now to get exciting travel deals. Upto 40% off on credit card payments</span>
    </div>
    <div style="margin-top: 10px;">
        <span class="header-span-2">Offer end is <i id="countDownTime"></i></span>
    </div>
  </header>
  <div style="width: 100%;">
    <ul>
      <li><a style="color: black;" href="#weather">Weather</a></li>
      <li><a style="color: black;" href="#destinations">Destinations</a></li>
      <li><a style="color: black;" href="#getaqoute">Get a Quote</a></li>
    </ul>
  </div>
  <div class="home-container">
    <div class="col-6 col-s-12">
      <img class="welcome-img" src="../assets/images/welcome-image.svg" alt="welcome-image">
    </div>
    <div class="col-6 col-s-12">
      <div style="margin-top: 7rem;">
          <span class="welcome-text-1">Life is Short</span> <br>
          <span class="welcome-text-1">and the world is wide!</span> <br>
          <div class="welcome-text-2"> 
            <span> Stay at the comfort of your homes and books a trip to travel after the post pandamic era.</span> 
          </div>
      </div>
      <div class="col-12" style="margin-top: 2rem;">
          <button class="btn-default">PLAN A TRIP</button>
    </div>
    </div>
  </div>
  <div class="home-container">
    <div class="col-12 weather-header">
         <a class="weather-text" id="weather"> THE WEATHER CHENNAL</a>
    </div>
    <div style="padding: 0;" class="col-12">
      <div id="cities" *ngFor="let city of cityData" class="col-3 col-s-6 card">
        <div>
            <span>{{city.city}}</span>
        </div>
        <div>
          <img src="../assets/images/icon-party-sunny.svg" alt="sunny">
        </div>
        <div>
          <span style="font-size: 3rem;">{{city.temp_Celsius}} <sub class="subsc">o</sub></span>
        </div>
      </div>             
    </div>
  </div>
  <div class="destination-container">
    <div class="col-12 featured-header">
      <a class="featured-text" id="destinations"> Featured Destinations</a>
    </div>
    <div style="padding: 0;" class="col-12">
      <div id="gallery"> 
        <div style="float: left; margin-right: 1rem;" *ngFor="let destination of destinationData" >          
            <img class="gallery_img" width="300px" height="200px" src="{{destination.imageUrl}}">
            <div style="color: darkgray; font-size: 1.3rem;">{{destination.city}}</div>         
        </div>
      </div>        
    </div>
  </div>
  <div class="promo-container">
    <div class="col-12"> 
      <img width="100%" src="../assets/images/promo-image.png" alt="Promo-image">
      <div style="position: absolute;">
        <a class="promo-text-1">PLAN A TRIP</a> <br>
        <a class="promo-text-2">Make your vacation the most <br>memorable one</a>
      </div> 
    </div>    
       
  </div>
  <div class="quote-container">
    <div class="col-12">
        <a class="quote-heading" id="getaqoute"> Travelling as a group? Get a Quote</a>
    </div>
    <div class="col-12">
      <form>
        <label for="name"><b>Your Name</b></label>
        <input [(ngModel)] = "Name" type="text" placeholder="Enter Your Name" name="name" id="name" required>
        <!-- <label for="name"><span>Name is required</span></label> -->
        <label for="number"><b>Contact No</b></label>
        <input [(ngModel)] = "ContactNo" type="number" placeholder="Enter Contact Number" name="number" id="number" required>
        <!-- <label for="number"><span>Contact No is required</span></label> -->
        <label for="email"><b>Email</b></label>
        <input [(ngModel)] = "Email"  type="email" placeholder="Enter Email" name="email" id="email" required>
        <!-- <label for="email"><span>Email is required</span></label> -->
      </form>
    </div>
    <div *ngIf="validated" class="col-12">
        <div>
            We hear you!We will get back to you for planning your vacation.
        </div>
    </div>
    <div class="col-12">
      <button (click)="SubmitForm()" class="btn-default">SUBMIT</button>
    </div>
  </div>
  <router-outlet></router-outlet> 
  <footer id="footer" class="col-12">   
    <div class="col-2 col-s-12">
      <div class="module"> 
        <h3>TripZone</h3> 
        <ul class="ulist"> 
            <li class="list"><a class="lista" href="">About</a></li> 
            <li class="list"><a class="lista" href="">Awards</a></li> 
            <li class="list"><a class="lista" href="">Contact us</a></li> 
            <li class="list"><a class="lista" href="">Feedback</a></li> 
        </ul> 
    </div> 
    </div>
    <div class="col-2 col-s-12">
      <div class="module"> 
        <h3>Main Offices</h3> 
        <ul class="ulist"> 
            <li class="list"><a class="lista" href="">The United States</a></li> 
            <li class="list"><a class="lista" href="">India</a></li>
            <li class="list"><a class="lista" href="">Brazil</a></li> 
            <li class="list"><a class="lista" href="">Canada</a></li> 
        </ul> 
    </div>
    </div>
    <div class="col-2 col-s-12">
      <div class="module"> 
        <h3>Sub Offices</h3> 
        <ul class="ulist"> 
            <li class="list"><a class="lista" href="">Australia</a></li> 
            <li class="list"><a class="lista" href="">England</a></li> 
            <li class="list"><a class="lista" href="">France</a></li> 
            <li class="list"><a class="lista" href="">Germany</a></li> 
        </ul> 
      </div>
    </div>
    <div class="col-6 col-s-12">
      <div class="module"> 
        <h3>Disclaimer</h3> 
        <ul class="ulist" style="line-height: 2rem;"> 
            <span>This layout is create as part of Sirius UI Recruiments.</span> <br>
            <span>All the above content has no direct relational with Sirius</span> <br>
            <span>business</span> 
        </ul> 
      </div>
    </div>
  </footer>  
</div>

